<!DOCTYPE html>
<html>
    <head>
        <title>Django First Touch</title>
    </head>

    <body>
        {% block container %}
            This base.jinja
        {% endblock %}
    </body>

</html>