<html>
<head>
    <title>Test env</title>
</head>
<body>
    <a href="/"><h1>Hi!</h1></a>

    {% if not request.user.is_authenticated() %}
        <input type="button" value="login" onclick="location.href='/account/login'">
        <input type="button" value="register" onclick="location.href='/register'">
    {% else %}
        <input type="button" value="logout" onclick="location.href='/account/logout'">
        <input type="button" value="change_pass" onclick="location.href='/account/change_pass'">
    {% endif %}

    {% block content %}
        <div id="index-box">This is index-box</div>
    {% endblock %}

    <script type="text/javascript" src="/static/js_libs/require.js"></script>
    <script type="text/javascript" src="/static/js/config.js"></script>
    <script type="text/javascript" src="/static/js/init.js"></script>
</body>
</html>