<html>
<head>
    <title></title>
</head>
<body>
<a href="/"><h1>Hi!</h1></a>
<input type="button" value="login" onclick="location.href='/account/login'">
<input type="button" value="logout" onclick="location.href='/account/logout'">
<input type="button" value="register" onclick="location.href='/register'">
{% block content %}
{% endblock %}
</body>
</html>