{% extends "index.jinja" %}
{% block content %}

    <div style="width: 300px; height: 600px; border-radius: 10px; background-color: #C6E746">
        <form name="form_text" method="post" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            {{ form.as_p }}
            <input type="submit" value="send" >
        </form>
    </div>

{% endblock %}