{% extends "index.jinja" %}

{% block content %}

    {% if passform.errors %}
        <p class="error">Заполните все поля</p>
    {% endif %}

    <form action='.' method='post'>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

        {{ form.as_ul() }}

        <input type="submit" value="Change Pass" />
        <input type="hidden" name="next" value="{{ next|escape }}" />
    </form>

{% endblock %}